@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300&family=Monda&family=Mulish:wght@200&family=Square+Peg&family=Zen+Loop&display=swap');
*{
    margin: 0;
    padding: 0;
}

.tituloSubte{
    font-family: 'Figtree', sans-serif;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.fuente{
    font-family: 'Figtree', sans-serif;
}

.css-container{
    margin: 100px;
}

h1{
    font-weight: bold;
    text-align: left;
    margin-bottom: 50px;
}

h2{
    font-weight: bolder;
    margin-bottom: 30px;
}

h3{
    margin-top: 50px;
    margin-bottom: 30px;
}

p{
    margin-top: 30px;
}

div{
    margin-top: 30px;
    margin-bottom: 30px; 
}

.btn-rtas{
    margin-top: 70px;
    padding: 10px;
    color: white;
    font-weight: bold;
    background-color: black;
}

.btn-resumen{
    margin-top: 20px;
    padding: 10px;
    color: black;
    font-weight: bold;
    background-color: white;
}

.btn-reiniciar{
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(230, 149, 45);
    color: black;
    font-weight: bold;
}

footer{
    background-color: black;
    margin-bottom: 0;
    padding-left: 50px;
    padding-right: 50px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.botones{
    width: 0.3fr;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}


.textoFooter{
    color: white;
    text-align: center;
}

.oculto{
    display: none;
}

